section

  section
    p
      | Let's be friends!
    h2 @AhoyLemon
    ul
      li
        +link("https://twitter.com/AhoyLemon") Twitter
      li
        +link("https://github.com/AhoyLemon") GitHub
      li
        +link("https://codepen.io/AhoyLemon") CodePen
      li
        +link("https://mastodon.social/@ahoylemon") @mastodon.social
      li
        +link("https://ahoylemon.xyz") ahoylemon.xyz

  section
    h3 My only request
    p.fragment Use your own time to make something cool.
    p.fragment (oh, and 5 star this talk on readydev.one)
    
  section(data-background-image="img/gif/simone_lemon_maker_faire.gif")
    h1(style="padding-top:45vh; text-shadow:0.05em 0.05em 0.05em black, -1px -1px 1px black") Thank you.