- const talkTitle = "SKILLSHARE: PWA's are super duper cool"
- const description = "A talk by Lemon 🍋 - the full title is How To Make Your Website A Progressive Web App (And Why You Might Want To)"
- const siteURL = "https://ahoylemon.github.io/pwa-talk"