section
  section
    p When thinking of
    h2 Progressive Web Apps
    .fragment
      h2 ^^^^^^^^^^ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;

  section
    img(src="img/gif/escape.gif")

  section
    h3 Escape the walled garden.

  section
    p Make things better.
      span.fragment &nbsp; It's your responsibility.
      .fragment And your pleasure.

//-section
  section(data-background="img/bg/mpls-1.jpg")
    aside.notes
      p Finally
      p I'd love to be with you in Romania. I'm in Minneapolis.
      p A city I love dearly.
      p And the city that murdered George Floyd.

  section(data-background="img/bg/mpls-fire.jpg")
    aside.notes
      p Panic and chaos swept the city.
      p For a few days, I fled the city I love.
      p I told DevTalks (they were very understanding)
      p This is what my city looked like

  section(data-background="img/bg/floyd-memorial.jpg")
    aside.notes
      p And now it looks more like this.
      p We have systematic problems. They've been there for decades.
      p But now, more than ever, we have the will to change them.
      p Kind, passionate, talented people should always try to make things better.