section
  section
    h1 Hi!
    h2.fragment My name is Lemon.
    //p.fragment (I make websites.)
    aside.notes
      ul
        li making websites for > 20 years
        li for fun & for freedom
        li love the web platform
        li continues to be interesting

  section(data-background="img/bg/bg-savas-cyan-1.png")
    .fragment(style="padding-bottom:7vh;")
      img(src="img/savas-logo-black.svg" alt="Savas Labs" style="max-height:22vh;")

  section(data-background="img/bg/bg-savas-cyan-2.png" data-background-transition="none")
    div(style="color:black; padding-bottom:9vh;")
      h2.dark-blue
        | Front End
        br
        | Development Director
      .fragment
        ul
          li Mentoring
          li Shepherding
          li Documenting

  section
    h2 I make websites.

  section
    div(style="font-size:68px; font-family:'Lucida Console', Monaco, monospace;") 
      span websites 
      span.fragment != apps
    aside.notes
      h2 I consider myself a website maker, and that's different than somebody that makes apps.
      h2 These words are used interchangably.
  section
    h3 Let me define my terms.
    aside.notes
      h2 We need to define our terms here because a website can be an app.
      h2 The word "webapp" exists, and that's valid.
      h2 When I think about websites, I think about freedom.
      h2 I think about 3 technologies.