mixin intro(slug,start)
  +videoBG(slug,start)
    .video-flex.hello
      .top
        h2.shadowed
          | Progressive Web Apps!
          sup *
        .a-talk-by
          b.white.shadowed
            | (a talk by Lemon)
      .bottom
        .site
          b.white.shadowed
            | ahoylemon.xyz
          br
          div.shadowed(style="font-size:26px; line-height:120%") 
            em * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long

section

  // Extreme Crew (Korea)
  +intro('jSZ9QB5Myw4',370)

  // Last Squad (france) vs Artistreet (Korea) | 2019
  +intro('EzglYPf7Ylk',100)