mixin intro(slug,start)
  +videoBG(slug,start)
    .video-flex.hello
      .top
        h2.shadowed
          | Progressive Web Apps!
          sup *
        .a-talk-by
          b.white.shadowed
            | (a talk by Lemon)
      .bottom
        .site
          b.white.shadowed
            | ahoylemon.xyz
          br
          div.shadowed(style="font-size:26px; line-height:120%") 
            em * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long

section

  // Predatorz (Russia) vsFlow XL (Korea)
  +intro('hPU4lF2jvxo',38)
    aside.notes
      h2 Battle of the Year 2023
      p Predatorz (Russia)
      p vs
      p Flow XL (Korea)

  // Found Nation vs. Mortal Combat
  +intro('YDlgpkUZhL8',38)
    aside.notes
      h2 Battle of the Year 2023
      p Found nation (Japan)
      p vs
      p Mortal Kombat (?)

  
  // Ruggeeds vs Flow XL
  +intro('2fcgLIRHaDU',20)
    aside.notes
      h2 Battle of the Year 2023
      p The Ruggeds (Netherlands)
      p vs
      p Flow XL (Korea)