section
  // Extreme Crew (Korea) [2004]
  +videoBG('p9JiFo945fs',98) 
    h2.shadowed(style="font-size:80px;")
      | Progressive Web Apps!
      sup *
    .a-talk-by(style="margin-top:36.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
      br
      br
      div.shadowed(style="font-size:26px; line-height:120%") * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long

    aside.notes
      h2 Extreme Crew (Korea)
      p 2019

  // Fantastik Armada (france) vs Gamblerz (Korea) | 2019
  //-+videoBG('EzglYPf7Ylk',100)
    h2.shadowed
      | Progressive Web Apps!
      sup *
    .a-talk-by(style="margin-top:25.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
      br
      br
      div.shadowed(style="font-size:26px; line-height:120%") * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long

    aside.notes
      h2 Fantastik Armada (France) vs GAMBLERZ (Korea) | 2019

  // Turn Phrase Crew (Japan) vs Extreme Crew (Korea)
  +videoBG('m62SPPh9Nzc',217)
    h2.shadowed(style="font-size:80px;")
      | Progressive Web Apps!
      sup *
    .a-talk-by(style="margin-top:36.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
      br
      br
      div.shadowed(style="font-size:26px; line-height:120%") * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long

    aside.notes
      h2 Turn Phrase Crew (Korea)
        br
        | vs 
        br
        | Extreme Crew (Netherlands)
      p 2007

  // B GIRL TERRA
  +videoBG('5HrrbkYJM2M',15)
    h2.shadowed(style="font-size:80px;")
      | Progressive Web Apps!
      sup *
    .a-talk-by(style="margin-top:36.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
      br
      br
      div.shadowed(style="font-size:26px; line-height:120%") * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long

    aside.notes
      h2 B GIRL TERRA
  
  // WHITE PEOPLE CAN'T DANCE
  +videoBG('nYJyFGvnXrc', 43) 
    h2.shadowed(style="font-size:80px;")
      | Progressive Web Apps!
      sup *
    .a-talk-by(style="margin-top:36.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
      br
      br
      div.shadowed(style="font-size:26px; line-height:120%") * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long
    aside.notes
      h2 Jaja Vankova & Marie Poppins
      h2 vs Madd Chadd & Poppin John
      p 2014