section
  section
    p When thinking of
    h2 Progressive Web Apps
    .fragment
      h2 ^^^^^^^^^^ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;

  section
    img(src="img/gif/escape.gif")

  section
    h3 Escape the walled garden.

  section
    p Make things better.
      span.fragment &nbsp; It's your responsibility.
      .fragment And your pleasure.