section.more-features
  section(data-background="#dddddd")
    figure()
      img(src="svg/noun-share-3772303.svg")
      figcaption Native Sharing
  section(data-background="#dddddd")
    figure()
      img(src="svg/noun-vibration-6223171.svg")
      figcaption Vibration
  section(data-background="#dddddd")
    figure
      img(src="svg/noun-payment-1645634.svg")
      figcaption Native Payment API
  section(data-background="#dddddd")
    figure
      img(src="svg/noun-fingerprint-237324.svg")
      figcaption Fingerprint Authentication
  section(data-background="#dddddd")
    figure
      img(src="svg/noun-face-detection-3592734.svg")
      figcaption Face Detection
  section(data-background="#dddddd")
    figure
      img(src="svg/noun-notification-1157125.svg")
      figcaption Notifications
  section(data-background="#ffffff")
    a(href="https://whatpwacando.today/")
      img(src="img/all-the-things.png")

    //- figure
    //-   img(src="svg/noun-notification-1157125.svg")
    //-   figcaption Notifications
