section
  section
    h3 Where do you go from here?

  section(data-background="img/gif/cooking.gif")
    h2.shadowed(style="margin-top:30vh") Get cooking!

  section
    figure
      a(href="https://www.pwabuilder.com/" target="_blank")
        img(src="img/logos/pwa-builder.png" style="margin-bottom:3em;")
      figcaption
        | by Microsoft


  // Retiring this one...
  //section
    figure
      a(href="https://serviceworke.rs" target="_blank")
        img(src="img/logos/mozilla-serviceworkrs.svg")
  
  
  section
    figure
      a(href="https://web.dev/pwa" target="_blank")
        img(src="img/logos/webdev.svg" style="margin-bottom:3em;")
      figcaption
        by by Google

  section
    figure
      h2
        a(href="https://whatpwacando.today/" target="_blank") What PWA Can
          br
          | Do Today
      figcaption by Danny Moerkerke

  section
    figure
      a(href="https://serviceworkies.com" target="_blank")
        img(src="img/logos/serviceworkies.png")
      figcaption by Dave Geddes

  //-section
    figure
      h2
        a(href="https://pwafire.org/" target="_blank") PWA Fire
      figcaption by Maye Edwin & Marta Wiśniewska


  //-section
    figure
      h2
        a(href="https://pwasummit.org/" target="_blank") PWA Summit
      figcaption
        p A Free Online Conference
        p October 6 & 7