section
  section
    div
      img(src="img/before-sw.png")
    div.fragment
      img(src="img/after-sw.png")

    aside.notes
      p Important idea. You've just changed how your website is consumed.

  section
    p The service worker gets its own lifecycle.
    aside.notes
      p It should be versioned, so the service worker can know if the worker itself needs an update.

  section
    h2
      | Now, let's see some 
      span.strobe real-world examples
    aside.notes
      p Want to show you real-world examples
      p Want to show you what you can do now.