section

  section(data-background-video="video/testing.mp4" data-background-video-loop="loop" data-background-size="contain")

  section
    figure
      img(src="img/lighthouse-1024x1024.png" style="max-height:55vh;")
      figcaption
        a(href="https://web.dev/measure/" target="_blank") web.dev/measure
    aside.notes
      p DON'T launch browser yet.

  section
    figure
      img(src="img/lighthouse-before.png")
    aside.notes
      p NOW launch browser.

  section
    figure
      img(src="img/lighthouse-after.png")

  section
    h3 Strategy for Feature Rollout
    ol
      li Test it in Lighthouse
      li Get it working on your machine(s)
      li Get it working on friends/coworkers machine(s)
      li
        i THEN
        |  try it out on strangers
    aside.notes
      p Remember the SW can store things and disrupt your process. Keep it in mind when making updates.
      p NEXT: DAMN.DOG