section      
  section(data-background-video="video/testing.mp4" data-background-video-loop="loop" data-background-size="contain")

  section
    p I used to use
    figure
      img(src="img/logos/lighthouse-1024x1024.png" style="max-height:55vh;")
      figcaption
        a(href="https://web.dev/measure/" target="_blank") ...Lighthouse for this.
    aside.notes
      p DON'T launch browser yet.

  section
    figure
      img(src="img/screenshots/lighthouse-before.png")
    aside.notes
      p NOW launch browser.

  section
    figure
      img(src="img/screenshots/lighthouse-after.png")

  section
    p Now I use
    figure
      a(href="https://www.pwabuilder.com/" target="_blank")
        img(src="img/logos/pwa-builder-new-ugly.png" style="margin-bottom:3em;")

  section
    h3 Strategy for Feature Rollout
    ol
      li Test it in your tool(s) of choice
      li Get it working on your machine(s)
      li Get it working on friends/coworkers machine(s)
      li
        i THEN
        |  try it out on strangers
    aside.notes
      p Remember the SW can store things and disrupt your process. Keep it in mind when making updates.
      p NEXT: DAMN.DOG