section

  section
    img.r-stretch(src="img/true-stories.jpg")
    aside.notes
      p What follows is a true story

  section
    p So, I built a mobile app...
    p.fragment ...and then I made a small change.
    aside.notes
      p Things were going fine, until one day the client had a few very small changes.
      p I did those changes, submit those to the stores.
      p Got an email.

  section
    blockquote
      strong From: 
      span Google Play Support
      br
      strong To: 
      span me
      p We have rejected your latest build from the Google Play Store, because it violates our policy on embedded YouTube videos.
      p.fragment Please see this webpage that has a whole lot of text, which kind of sort of describes what I'm talking about.

  section
    blockquote
      strong From: 
      span me
      br
      strong To: 
      span Google Play Support
      p Okay, thank you so much for your note. I am confused on the cause though, as my app does not have any embedded YouTube videos.
      p Can you please explain?
    aside.notes
      p I'm polite.

  section
    blockquote
      strong From: 
      span Google Play Support
      br
      strong To: 
      span me
      p The embedded YouTube videos in your app violate our policy on embedded YouTube videos.

  section
    blockquote
      strong From: 
      span me
      br
      strong To: 
      span Google Play Support
      p Right... Except the app doesn't 
        i have 
        span any YouTube videos, of any sort.
      p.fragment Please advise.

  section
    blockquote
      strong From: 
      span Google Play Support
      br
      strong To: 
      span me
      br
      p We do not offer support.

  section
    blockquote
      strong From: 
      span.strobe Google Play Support
      br
      strong To: 
      span me
      br
      p We do not offer 
        span.strobe support.

  section
    p 
      | This is a specific problem.
      br
      | pointing to a greater concern.

    aside.notes
      p They cannot offer human support.
      p APP STORE = 2 MILLION
      p PLAY STORE = 6 MILLION

  section
    h2 The Internet is not a walled garden.

    aside.notes
      p The internet is a place for mistakes.
      p When you make a website, failure means nobody goes to your website.