section
  section(data-background="img/gif/reverse-horse.gif")
    aside.notes
      p Let's reverse time and say the thing I didn't say.

  section
    blockquote
      p So, when you say you want a mobile app, what do you really want?
      cite what I should have said
    aside.notes
      p They might answer with...

  section
    p “I want something that...
    ul
      li has an app-like interface
      li can be installed on a user's machine
      li will work offline
      li uses camera & microphone
      li geolocation
      li.fragment
        strong has push notifications

  section
    img(src="svg/pwa.svg")

  section
    p A spec written by...

    .grid(columns="3" style="margin-bottom:2em;")
      figure
        img(src="img/logos/chrome.png" style="max-height:20vh;")
      figure
        img(src="img/logos/firefox.png" style="max-height:20vh;")
      figure
        img(src="img/logos/edge.png" style="max-height:20vh;")
    .fragment
      p Supported by
      .grid(columns="3")
        figure
          img(src="img/logos/safari.png" style="max-height:20vh;")
        figure
          img(src="img/logos/brave.png" style="max-height:20vh;")
        figure
          img(src="img/logos/opera.png" style="max-height:20vh;")

    aside.notes
      p A PWA is a spec.
      p Google worked on the majority of it. Mozilla and Microsoft helped a lot.
  
  section
    p What can you do with a PWA?
    p.fragment Potentially a lot of things.
  
  section
    p
      | What 
      b can be
      |  in a PWA?
    ul
      li installable
      li works offline
      li notifications
      li managed caching
      li runs chromeless
      li native sharing
      li wake control
      li multitouch
      li bluetooth
      li quite a bit more.

  section(data-background="img/gif/gnome-fascinating.gif")