- const talkTitle = "PWA Talk"
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides
      
      // Video Screens
      include sections/_intros

      include sections/_hello
      
      include sections/_cordova

      include sections/_true-story

      include sections/_what-is-pwa

      include sections/_what-is-pwa

      include sections/_service-worker

      include sections/_party

      include sections/_testing
      
      include sections/_damn-dog

      include sections/_resources

      include sections/_closing

      // THANK YOU
      include sections/_thank-you
    
  script(src='lib/js/head.min.js')
  script(src='js/reveal.js')
  script.
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      history: true,
      autoPlayMedia: true,
      //slideNumber: true,
      dependencies: [
      { src: 'plugin/markdown/marked.js' },
      { src: 'plugin/markdown/markdown.js' },
      { src: 'plugin/zoom-js/zoom.js' },
      { src: 'plugin/notes/notes.js', async: true },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
