- const talkTitle = "PWA Talk"
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides
      section

        // Little Big Uno
        +videoBG('CkIhFpdJcPM',65)
          h2.shadowed
            | Progressive Web Apps!
            sup *

          .a-talk-by(style="margin-top:25.5vh;")
            b.white.shadowed
              | (a talk by @AhoyLemon)
            br
            br
            div.shadowed(style="font-size:26px; line-height:120%") * This talk is actually called "How To Make Your Website A Progressive Web App (And Why You Might Want To)", but that's entirely too long
      
      section
        section
          h1 Hi!
          h2.fragment My name is Lemon.
          p.fragment (I make websites.)

        section
          div(style="font-size:68px; font-family:'Lucida Console', Monaco, monospace;") 
            span websites 
            span.fragment != apps

        section
          h3 Let me define my terms.
            
        section
          .grid(columns="3")
            .box
              img(src="svg/logos/html-5.svg")
            .box
              img(src="svg/logos/css-3.svg")
            .box
              img(src="svg/logos/javascript.svg")

        section
          blockquote
            p I want you to build me a website!
            cite The Client
          blockquote.fragment
            p Sounds good.
            cite me

        section
          blockquote
            p I want you to build me a mobile app!
            cite The Client
          blockquote.fragment
            p Okay, but based on what you're trying to do, a mobile app might not be the best solution. What about a website instead?
            cite me
        
        section
          blockquote
            p I want you to build me a mobile app, and I'll pay you a 
              strong lot of money 
              | to do it.
            cite The Client
          blockquote.fragment
            p Okay, let's build a mobile app.
            cite me

        section
          .grid(columns="3")
            figure
              img(src="svg/logos/cordova_256.png" style="width:100%")
            figure
            figure.fragment
              img(src="svg/logos/phonegap.svg" style="width:100%")
            
        section
          
          p Building an app in Cordova/phonegap..

          ol
            li Build an HTML website.
            li Wrap it in a vendor-specific webview.
            li Add plugins.
            li Release to the store.
              sup *
            i.fragment * herein lies the problem.

        section
          p Actually, a few problems...

          ol
            li app signing
            li plugin versioning
            li incompatable dependencies
            li style & content rules
            li changing rules
            li possibility of rejection
            li waiting

        section
          img(src="img/true-stories.jpg")

        section
          p So, I built a mobile app...

        section
          blockquote
            strong From: 
            span Google Play Support
            br
            strong To: 
            span me
            p We have rejected your latest build from the Google Play Store, because it violates our policy on embedded YouTube videos.
            p.fragment Please see this webpage that has a whole lot of text, which kind of sort of describes what I'm talking about.

        section
          blockquote
            strong From: 
            span me
            br
            strong To: 
            span Google Play Support
            p Okay, thank you so much for your note. I am confused on the cause though, as my app does not have any embedded YouTube videos.
            p Can you please explain?

        section
          blockquote
            strong From: 
            span Google Play Support
            br
            strong To: 
            span me
            p The embedded YouTube videos in your app violate our policy on embedded YouTube videos.

        section
          blockquote
            strong From: 
            span me
            br
            strong To: 
            span Google Play Support
            p Right... Except the app doesn't 
              i have 
              span any YouTube videos, of any sort.
            p.fragment Please advise.

        section
          blockquote
            strong From: 
            span Google Play Support
            br
            strong To: 
            span me
            br
            p We do not offer support.

        section
          blockquote
            strong From: 
            span.strobe Google Play Support
            br
            strong To: 
            span me
            br
            p We do not offer 
              span.strobe support.

        section
          p 
            | This is a specific problem.
            br
            | pointing to a greater concern.

        section
          h2 The Internet is not a walled garden.

      section

        section(data-background="img/gif/reverse-horse.gif")

        section
          blockquote
            p So, when you say you want a mobile app, what do you really want?
            cite what I should have said

        section
          p “I want something that...
          ul
            li has an app-like interface
            li can be installed on a user's machine
            li will work offline
            li uses camera & microphone
            li geolocation
            li
              strong has push notifications

        section
          img(src="svg/pwa.svg")

        section
          p A spec written by...

          .grid(columns="3" style="margin-bottom:2em;")
            figure
              img(src="img/logos/chrome.png" style="max-height:20vh;")
            figure
              img(src="img/logos/firefox.png" style="max-height:20vh;")
            figure
              img(src="img/logos/edge.png" style="max-height:20vh;")
          .fragment
            p Supported by
            .grid(columns="3")
              figure
                img(src="img/logos/safari.png" style="max-height:20vh;")
              figure
                img(src="img/logos/brave.png" style="max-height:20vh;")
              figure
                img(src="img/logos/opera.png" style="max-height:20vh;")
        
        section
          p What is a PWA?
          p.fragment Potentially a lot of things.
        
        section
          p
            | What 
            b can be
            |  in a PWA?
          ul
            li installable
            li works offline
            li notifications
            li managed caching
            li runs chromeless
            li native sharing
            li wake control
            li multitouch
            li bluetooth
            li quite a bit more.

        section(data-background="img/gif/gnome-fascinating.gif")

        section
          p What do you need?
          ol
            li 
              strong HTTPS connection
            li 
              code manifest.json
            li
              code service-worker.js

        section
          p Where can I get a HTTPS certificate?
          p 
            i PS: For free?

          ul
            li GitHub Pages
            li Let's Encrypt
            li Cloudflare
            li Many cPanel-based hosting platforms
              br
              sub (personal rec's: Green Geeks & InMotion)

        section
          p Regardless: get a cert, turn it on, and direct 
            i all
            |  HTTP traffic to HTTPS.


        section
          code manifest.json

          p A json file located in the root of your project, which will define some values...
          ul
            li Name & Description
            li Color Scheme
            li Languages
            li Orientation
            li URL scope
            li Icons

        section
          code service-worker.js
          p A single javascript file (can be called anything), which will set up functions for installation, caching, permissions, and features.

        section
          p Reference both these files in your index.html

      section
        section
          div
            img(src="img/before-sw.png")
          div.fragment
            img(src="img/after-sw.png")

        section
          p The service worker gets its own lifecycle.

        //-section
          code cachebusting...
          pre(style="font-size:1.5rem;")
            code.html(style="max-height:55vh;").
              &lt;script src=&quot;site.min.js?updated=xwJEKgJfizi&quot;&gt;&lt;script&gt;

      section
        h2
          | Now, let's see some 
          span.strobe real-world examples

      section
        section
          figure
            a(href="https://partypartypartyparty.party" target="_blank")
              img(src="img/party-square.png" style="max-height:50vh;")
              figcaption
                | partypartypartyparty.party

        section
          blockquote
            p I need to be able to party efficiently when I don't have internet.
            cite a friend
          blockquote.fragment
            p That's an excellent point!
            cite me

        section
          code service-worker.js
          pre(style="font-size:1.5rem;")
            code.js(style="max-height:55vh;").
              const offlineUrl = '/index.html';
              const offlineFiles = [
                '/index.html',
                '/manifest.json',
                '/css/party.css',
                '/js/min/jquery.min.js',
                '/js/min/howler.min.js',
                '/js/min/party.min.js',
                '/audio/party.mp3',
                '/audio/venga.mp3'
              ];

              /*****
              On install, the service worker will take all our
              required files, and store those locally. */
              self.addEventListener('install', function(event) {
                var offlineRequest = new Request(offlineFiles);
                event.waitUntil(
                  fetch(offlineRequest).then(function(response) {
                    return caches.open('offline').then(function(cache) {
                      return cache.put(offlineRequest, response);
                    });
                  })
                );
              });

              /************
              Then, on a fetch request, the service worker 
              will check for response.
              If everything seems to be offline, serve the
              offline files instead.  */
              self.addEventListener('fetch', function(event) {
                var request = event.request;
                if (request.method === 'GET') {
                  event.respondWith(
                    fetch(request).catch(function(error) {
                      console.error(
                        '[onfetch] Failed. Serving cached offline fallback ' +
                        error
                      );
                      return caches.open('offline').then(function(cache) {
                        return cache.match(offlineUrl);
                      });
                    })
                  );
                }
              });

        section
          code manifest.json
          pre(style="font-size:1.5rem;")
            code.json(style="max-height:55vh;").
              {
                "manifest_version": 2,
                "name": "PARTY PARTY PARTY PARTY PARTY",
                "short_name": "PARTY",
                "description": "PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY",
                "default_locale": "en-us",
                "display": "standalone",
                "scope": "/",
                "start_url": "/",
                "theme_color": "#d1d1d1",
                "background_color": "#d1d1d1",
                "icons": [
                  {
                    "src": "/icon-36x36.png",
                    "sizes": "36x36",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-48x48.png",
                    "sizes": "48x48",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-72x72.png",
                    "sizes": "72x72",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-96x96.png",
                    "sizes": "96x96",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-144x144.png",
                    "sizes": "144x144",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-192x192.png",
                    "sizes": "192x192",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-256x256.png",
                    "sizes": "256x256",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-384x384.png",
                    "sizes": "384x384",
                    "type": "image/png"
                  },
                  {
                    "src": "/icon-512x512.png",
                    "sizes": "512x512",
                    "type": "image/png"
                  }
                ]
              }

        section
          code index.html
          pre(style="font-size:1.5rem;")
            code.js(style="max-height:55vh;").
              // Register the service worker
              if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
                  // Registration was successful
                }).catch(function(err) {
                  // registration failed :(
                });
              }

        section
          figure(style="text-align:center;")
            img(src="img/party-install-prompt.jpg" style="max-height:60vh; margin-left:auto; margin-right:auto;")
        section
          .grid(columns="2")
            figure(style="text-align:center;")
              img(src="img/home-screen.jpg" style="max-height:60vh; margin-left:auto; margin-right:auto;")

            figure(style="text-align:center;")
              img(src="img/app-screen.jpg" style="max-height:60vh; margin-left:auto; margin-right:auto;")

        section
          .grid(columns="2")
            figure(style="text-align:center;")
              img(src="img/party-splash.jpg" style="max-height:60vh; margin-left:auto; margin-right:auto;")
            figure(style="text-align:center;")
              img(src="img/party-focus.jpg" style="max-height:60vh; margin-left:auto; margin-right:auto;")

        section
          img(src="img/app-switch.jpg" style="max-height:60vh; margin-left:auto; margin-right:auto;")

      section
        
        section(data-background-video="video/testing.mp4" data-background-video-loop="loop" data-background-size="contain")

        section
          figure
            img(src="img/lighthouse-1024x1024.png" style="max-height:55vh;")
            figcaption
              a(href="https://web.dev/measure/" target="_blank") web.dev/measure

        section
          figure
            img(src="img/lighthouse-before.png")

        section
          figure
            img(src="img/lighthouse-after.png")

        section
          h3 Strategy for Feature Rollout
          ol
            li Test it in Lighthouse
            li Get it working on your machine(s)
            li Get it working on friends/coworkers machine(s)
            li
              i THEN
              |  try it out on strangers

      section
        section
          a(href="https://damn.dog" target="_blank")
            img(src="img/damn-og-wide.png")

        section
          code service-worker.js
          pre(style="font-size:1.5rem;")
            code.js(style="max-height:55vh;").
              const cacheName = 'v2.17';
              const offlineUrl = '/offline.html';
              const offlineFiles = [
                '/index.html',
                '/offline.html',
                '/manifest.json',
                '/css/damn.css',
                '/js/libraries/vue.min.js',
                '/js/min/damn.min.js',
                '/svg/offline-dog.svg'
              ];

              self.addEventListener('install', function(event) {
                event.waitUntil(
                  caches.open(cacheName).then(function(cache) {
                    return cache.addAll(cacheName);
                  })
                );
              });

              // A lot of the same code goes as before goes here.

        section
          img(src="img/screenshots/damn-install-chrome.png")

        section
          img(src="img/screenshots/damn-self-app.png")

        section
          img(src="img/screenshots/damn-offline-full.png")

        section
          img(src="img/logos/winstore.jpg")
        
        section(data-background="img/screenshots/damn-winstore.png")
          //img(src="img/screenshots/damn-winstore.png")

        section(data-background-video="video/fancy-omar.mp4" data-background-video-loop="loop" data-background-size="contain")
          //h3.shadowed Let's get even fancier
          figure
            img(src="img/fancier.png" style="max-width:600px;")

        section
          img(src="img/screenshots/damn-sidebar-open.png")

        section
          img(src="img/screenshots/damn-sidebar-circled.png")

        section
          p The Notification API

        section
          code service-worker.js
          pre(style="font-size:1.5rem;")
            code.js(style="max-height:55vh;").
              // After the install code...

              Notification.requestPermission(result => {
                if (result === 'granted') {
                  //permission granted.
                  navigator.serviceWorker.ready.then(registration => {
                    registration.showNotification(
                      'Damn Dog has been updated!', {
                      icon: '/android-chrome-96x96.png',
                      //vibrate: [500, 100, 500],
                      body: '7 new rounds have been added to damn.dog,
                             bringing the total up to 358.',
                      tag: 'game-updated'
                    });
                  });
                }
              });

        section
          figure
            img(src="img/pwa-notification.png")

        section
          figure
            img(src="img/screenshots/producthunt.gif")

        section
          p 
            strong Q: 
            | How do I push to users not currently on the website?

          .fragment
            p 
              strong A: 
              | The same way you'd handle any other kind of push subscription
            ul
              li Firebase
              li Twilio
              li OneSignal
              li etc.

      section
        section
          h3 Where do you go from here?

        section(data-background="img/gif/cooking.gif")
          h2.shadowed(style="margin-top:30vh") Get cooking!

        section
          figure
            a(href="https://www.pwabuilder.com/" target="_blank")
              img(src="img/logos/pwa-builder.png" style="margin-bottom:3em;")
            figcaption
              | by Microsoft

        section
          figure
            a(href="https://serviceworke.rs" target="_blank")
              img(src="img/logos/mozilla-serviceworkrs.svg")
        
        section
          figure
            a(href="https://web.dev/pwa" target="_blank")
              img(src="img/logos/webdev.svg" style="margin-bottom:3em;")
            figcaption
              by by Google

        section
          figure
            h2
              a(href="https://whatpwacando.today/" target="_blank") What PWA Can
                br
                | Do Today
            figcaption by Danny Moerkerke

        section
          figure
            h2
              a(href="https://pwafire.org/" target="_blank") PWA Fire
            figcaption by Maye Edwin & Marta Wiśniewska
              
      section
        section
          figure
            a(href="https://serviceworkies.com" target="_blank")
              img(src="img/logos/serviceworkies.png")
            figcaption by Dave Geddes

      section
        section
          p When thinking of
          h2 Progressive Web Apps
          .fragment
            h2 ^^^^^^^^^^ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;

      section
        section(data-background="img/bg/mpls-1.jpg")

        section(data-background="img/bg/mpls-fire.jpg")

        section(data-background="img/bg/floyd-memorial.jpg")
      
      // THANK YOU
      section
        section(data-background="img/gif/simone_lemon_maker_faire.gif")
          h1.white(style="padding-top:40vh; text-shadow:0.05em 0.05em 0.05em black, -1px -1px 1px black") Thank you.
          p.white.shadowed
            a(href="https://ahoylemon.xyz" target="_blank") 
              strong ahoylemon.xyz
        
        section(data-background="#e6e924")
          figure
            img(src="svg/lemon.svg" style="width:212px; height:212px;")
    
  script(src='lib/js/head.min.js')
  script(src='js/reveal.js')
  script.
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      history: true,
      autoPlayMedia: true,
      //slideNumber: true,
      dependencies: [
      { src: 'plugin/markdown/marked.js' },
      { src: 'plugin/markdown/markdown.js' },
      { src: 'plugin/zoom-js/zoom.js' },
      { src: 'plugin/notes/notes.js', async: true },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
