include partials/_variables.pug
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides

      // Video Screens
      include sections/_intros.pug
      
      // Personal Intro
      include sections/_hello.pug

      // Websites != Apps
      include sections/_websites-not-apps.pug

      // True Story
      include sections/_true-story.pug

      // What is a PWA?
      include sections/_what-is-pwa.pug

      // Service Worker 
      include sections/_service-worker.pug

      // PARTY PARTY PARTY PARTY PARTY
      include sections/_partypartypartyparty-party.pug

      // MORE FEATURES...
      include sections/_more-features.pug

      // TESTING...
      //-include sections/_testing.pug

      // DAMN DOG
      //-include sections/_damn-dog.pug

      // RESOURCES
      //-include sections/_resources.pug

      // MAKE THINGS BETTER
      include sections/_make-things-better.pug

      // THANK YOU!
      include sections/_thank-you.pug
  
    include partials/_javascripts.pug
